#topPage{
    display: inline-flex;
    align-items: center;
}

img {
    width: 300px;
    height: 300px;
}

#title {
    color: goldenrod;
    font-size: 60px;
    margin-left: -80px;
}

#topBottom {
    display: inline-block;
    width: 60%;
}

#bottomTop {
    display: inline-flex;
    width: 60%;
    justify-content: center;
    padding: 10px;
    background-color: goldenrod;
}

#location {
  border-style: solid;
}

.top-right-button {
    position: absolute;
    top: 20px; /* Adjust the top position as needed */
    right: 20px; 
    z-index: 999;
    /* Optionally, you can add more styling properties like padding, background-color, etc. */
   } 

@media only screen and (max-width: 600px) {
    #topPage {
        margin-left: -70px;
    }
    
    #waluigi {
        height: 190px;
        width: 190px;
        margin-right: -40px;
    }

    #title {
        margin-left: 0px;
        font-size: 40px;
    }

    #bottomTop {
        flex-direction: column;
        height: 360px;
    }

    iframe {
        width: 97%;
        height: 97%;
        margin-bottom:10px;
    }
  }